body {
    width: 100%;
    height: 3121px;
    font-family: Kalam;
    background: rgba(60, 79, 108, 0.70);
}

.body {
    width: 100%;
    height: 100%;
}

.ball {
    justify-content: center;
    align-items: center;
    gap: 12px;
    display: flex;
}

.ball_img {
    width: 70px;
    height: 70px
}

.ball_font {
    color: #D8E0FF;
    font-size: 50px;
    font-family: Kalam;
    font-weight: 400;
    word-wrap: break-word
}

.header_right {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.header_font {
    top: 20%;
    position: absolute;
    color: #D8E0FF;
    font-size: 22px;
    font-family: Beau Rivage;
    font-weight: 400;
    word-wrap: break-word;
}

.headergap {
    width: 100%;
    height: 80px;
    top: 7px;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 30%;
    display: inline-flex
}

.block {
    transform: translate(0, -30px);
    width: 100%;
    height: 135px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: rgba(83.45, 108.37, 145.76, 0.72);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 3px #ADC4F1 solid
}
.footer {
    transform: translate(0, -30px);
    width: 100%;
    height: 265px;
    left: 0px;
    top: 3121px;
    position: absolute;
    background: rgba(83.45, 108.37, 145.76, 0.72);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: 3px #ADC4F1 solid
}
.footer_text{
    width: fit-content;
    color: white;
    font-size: 24px;
}
.OfficialWebsite{
    position: absolute;
    top:20%;
    left: 10%;
}
.ContactUs{
    position: absolute;
    top:45%;
    left: 10%;
}
.iconimg{
    margin-left: 10px;
    height: 35px;
}
.iconimg2{
    margin-left: 55px;
    height: 35px;
}
.information {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 650px;
}

.slideshow {
    position: relative;
    margin: auto;
    overflow: hidden;
    height: 20%;
    width: 100%;
    z-index: 0;
}

.slideshow img {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    display: none;
}

.pokedex1 {
    width: 100%;
    height: 7%;
    position: relative;
    transform: translate(-15%, 0);
}

.pokedex2 {
    width: 100%;
    height: 7%;
    position: relative;
    transform: translate(15%, 0);
}

.pokedex3 {
    width: 100%;
    height: 7%;
    position: relative;
    transform: translate(-15%, 0);
}

.img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease 0s;
}

.rec {
    width: 100%;
    height: 80%;
    left: 0px;
    top: 5%;
    position: absolute;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 179px
}



.pokedex2 .rec {
    width: 100%;
}

.imggroup {
    width: 70%;
    height: 80%;
    left: 25%;
    top: 5%;
    position: absolute
}

.imggroup .img1 {
    width: 15%;
    height: 80%;
    left: 0px;
    top: 10%;
    position: absolute
}

.imggroup .img2 {
    width: 15%;
    height: 80%;
    left: 25%;
    top: 10%;
    position: absolute
}

.imggroup .img3 {
    width: 15%;
    height: 80%;
    left: 50%;
    top: 10%;
    position: absolute
}

.imggroup .img4 {
    width: 15%;
    height: 80%;
    left: 75%;
    top: 10%;
    position: absolute
}

.pokedex2 .imggroup {
    width: 70%;
    height: 80%;
    left: 10%;
    top: 5%;
    position: absolute
}

.pokedex2 .imggroup .img1 {
    width: 15%;
    height: 80%;
    left: 0px;
    top: 10%;
    position: absolute
}

.pokedex2 .imggroup .img2 {
    width: 15%;
    height: 80%;
    left: 25%;
    top: 10%;
    position: absolute
}

.pokedex2 .imggroup .img3 {
    width: 15%;
    height: 80%;
    left: 50%;
    top: 10%;
    position: absolute
}

.pokedex2 .imggroup .img4 {
    width: 15%;
    height: 80%;
    left: 75%;
    top: 10%;
    position: absolute
}

.imggroup .imgbackgroung {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    background: rgba(52.49, 72.46, 102.41, 0.30);
    border-radius: 9999px
}

.imggroup .imgsrc {
    width: 80%;
    height: 80%;
    top: 5%;
    left: 10%;
    position: absolute
}

.button {
    font-family: kalam;
    overflow: hidden;
    position: relative;
    background-color: rgba(124.43, 155.30, 203.15, 0.50);
    border: 3px #ADC4F1 solid;
    /*border: none;*/
    /* -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(6, 133, 133, 0.3)); */
}

button:hover {
    background-color: rgba(41, 52, 69, 0.5);
    /*box-shadow: 0 0 5px aqua,
        0 0 75px aqua,
        0 0 155px aqua;*/
    color: black;
}

/*
.button span:nth-of-type(1) {
    position: absolute;
    left: -100%;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to left, aqua, transparent);
    animation: shang 1s linear infinite;
}

@keyframes shang {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.button span:nth-of-type(2) {
    position: absolute;
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background-image: linear-gradient(to top, aqua, transparent);
    animation: you 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes you {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.button span:nth-of-type(3) {
    position: absolute;
    right: -100%;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, aqua, transparent);
    animation: xia 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes xia {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.button span:nth-of-type(4) {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background-image: linear-gradient(to bottom, aqua, transparent);
    animation: zuo 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes zuo {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
} */

.active1 {
    animation: comeIn1 1.25s linear;
}

@keyframes comeIn1 {
    0% {
        left: -100%;
        opacity: 0;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        left: 0%;
        opacity: 1;
    }
}

.active2 {
    animation: comeIn2 1.25s linear;
}

@keyframes comeIn2 {
    0% {
        right: -100%;
        opacity: 0;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        right: 0%;
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.search-box {
    font-size: 20px;
    border: solid 0.3em #ADC4F1;
    display: inline-block;
    position: relative;
    border-radius: 2.5em;
}

.search-box input[type=text] {
    font-family: inherit;
    font-weight: bold;
    width: 2.5em;
    height: 2.5em;
    padding: 0.3em 2.1em 0.3em 0.4em;
    border: none;
    box-sizing: border-box;
    border-radius: 2.5em;
    transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 150ms;
}

.search-box input[type=text]:focus {
    outline: none;
}

.search-box input[type=text]:focus,
.search-box input[type=text]:not(:placeholder-shown) {
    width: 18em;
    transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.search-box input[type=text]:focus+button[type=reset],
.search-box input[type=text]:not(:placeholder-shown)+button[type=reset] {
    transform: rotate(-45deg) translateY(0);
    transition: transform 150ms ease-out 800ms;
}

.search-box input[type=text]:focus+button[type=reset]:after,
.search-box input[type=text]:not(:placeholder-shown)+button[type=reset]:after {
    opacity: 1;
    transition: top 150ms ease-out 950ms, right 150ms ease-out 950ms, opacity 150ms ease 950ms;
}

.search-box button[type=reset] {
    background-color: transparent;
    width: 1.4em;
    height: 1.4em;
    border: 0;
    padding: 0;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.55em;
    right: 0.55em;
    transform: rotate(-45deg) translateY(2.2em);
    transition: transform 150ms ease-out 150ms;
}

.search-box button[type=reset]:before,
.search-box button[type=reset]:after {
    content: "";
    background-color: #ADC4F1;
    width: 0.3em;
    height: 1.4em;
    position: absolute;
}

.search-box button[type=reset]:after {
    transform: rotate(90deg);
    opacity: 0;
    transition: transform 150ms ease-out, opacity 150ms ease-out;
}

.searchbutton {
    font-family: kalam;
    overflow: hidden;
    position: relative;
    background-color: rgba(124.43, 155.30, 203.15, 0.50);
    border: 3px #ADC4F1 solid;
}

.toggle {
    display: inline-block;
}

.toggle {
    position: relative;
    height: calc(100%/8);
    width: calc(100%/3.3);
}

.toggletext {
    font-family: kalam;
    height: calc(100%/15);
    width: 100%;
    text-align: center;
}

.toggle:before {
    box-shadow: 0;
    border-radius: 84.5px;
    background: #fff;
    position: absolute;
    margin-left: -36px;
    margin-top: -36px;
    opacity: 0.2;
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
}

.toggle .button {
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    /* box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 20px 30px 0 rgba(255, 255, 255, 0.2); */
    border-radius: 68.8px;
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
    display: block;
    height: calc(100%/1.6);
    width: calc(100%/1.3);
    left: 20%;
    top: 50%;
}

.toggle input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.toggle input:active~.button {
    filter: blur(0.5px);
    box-shadow: 0 12px 25px -4px rgba(0, 0, 0, 0.4), inset 0 -8px 30px 1px rgba(255, 255, 255, 0.9), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 8px 25px 0 rgba(0, 0, 0, 0.4), inset 0 0 10px 1px rgba(255, 255, 255, 0.6);
}

.toggle input:checked~.button {
    filter: blur(0.5px);
    box-shadow: 0 10px 25px -4px rgba(0, 0, 0, 0.4), inset 0 0px 15px -1px rgba(255, 255, 255, 0.9), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 8px 20px 0 rgba(0, 0, 0, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.6);
}

.Normal {
    color: black;
    border-color: #dcdcdc;
    background: #dcdcdc50;
    text-align: center;
}

.Fire {
    color: black;
    border-color: #ff6900;
    background: #ff690050;
    text-align: center;
}

.Water {
    color: black;
    border-color: #14b9ff;
    background: #14b8ff50;
    text-align: center;
}

.Grass {
    color: black;
    border-color: #b4f000;
    background: #b4f00050;
    text-align: center;
}

.Electric {
    color: black;
    border-color: #ffe100;
    background: #ffe10050;
    text-align: center;
}

.Ice {
    color: black;
    border-color: #14f5ff;
    background: #14f5ff50;
    text-align: center;
}

.Fighting {
    color: black;
    border-color: #dc6900;
    background: #dc690050;
    text-align: center;
}

.Poison {
    color: black;
    border-color: #d28cd2;
    background: #d28cd250;
    text-align: center;
}

.Ground {
    color: black;
    border-color: #fac85a;
    background: #fac85a50;
    text-align: center;
}

.Flying {
    color: black;
    border-color: #78dcff;
    background: #78dcff50;
    text-align: center;
}

.Psychic {
    color: black;
    border-color: #f08cdc;
    background: #f08cdc50;
    text-align: center;
}

.Bug {
    color: black;
    border-color: #46c846;
    background: #46c84650;
    text-align: center;
}

.Rock {
    color: black;
    border-color: #b48c64;
    background: #b48c6450;
    text-align: center;
}

.Ghost {
    color: black;
    border-color: #a08cff;
    background: #a08cff50;
    text-align: center;
}

.Dragon {
    color: black;
    border-color: #5078dc;
    background: #5078dc50;
    text-align: center;
}

.Dark {
    color: black;
    border-color: #787878;
    background: #78787850;
    text-align: center;
}

.Steel {
    color: black;
    border-color: #aac8f0;
    background: #aac8f050;
    text-align: center;
}

.Fairy {
    color: black;
    border-color: #ffafdc;
    background: #ffafdc50;
    text-align: center;
}

#hide {
    display: none;
}